.b-form {
  .form-row {
    + .form-row {
      margin-top: 20px;
    }
  }

  .form-heading {
    font-size: 34px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    margin-bottom: 45px;
  }
}